:root {
  --post-padding: 16px;
  --post-vertical-spacing: 15px;
  --post-margin: 16px;

  --background: 247, 247, 247;
  --white: 233, 233, 233;
  --black: 0, 0, 0;
  --red: 255, 73, 48;
  --orange: 255, 138, 0;
  --blue: 0, 184, 255;

  font-size: 16px;
  line-height: 1.5;
  scroll-padding-top: var(--post-margin);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0, 0, 0;
    --white: 34, 34, 34;
    --black: 255, 255, 255;
  }
}

/* Global */

* {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol {
  margin: var(--post-vertical-spacing) 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

iframe { display: block; }
small { font-size: 0.8125em; }

blockquote {
  padding-left: var(--post-padding);
  border-left: 3px solid rgba(var(--black), 0.07);
}

ul,
ol {
  padding-left: var(--post-padding);
}

ul {
  list-style-type: disc;
}

ol {
  font-feature-settings: "tnum" 0;
  list-style-type: decimal;
}

figure,
audio,
video {
  margin: 0 0 4px;
}

/* Page layout */

body {
  background-color: rgb(var(--background));
  color: rgb(var(--black));
  font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

#page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 54px;
  border-bottom: 1px solid rgba(var(--black), .13);

  font-size: 2rem;
  text-align: center;
}

#base-container {
  display: flex;
  justify-content: center;
}

main {
  box-sizing: border-box;
  width: 540px;
  padding-bottom: var(--post-margin);
}

main:empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px var(--post-padding);
  border-radius: 8px;
  margin-top: var(--post-margin);

  background-color: rgba(var(--black), 0.07);
  text-align: center;
}

main:empty::before {
  color: rgba(var(--black), .65);
  font-size: 1.3125rem;
  font-weight: 700;
}

main:empty::after {
  color: rgba(var(--black), 0.4);
  font-weight: 400;
}

main[aria-busy="true"]:empty::before { content: "Loading…"; }
main[aria-busy="false"]:empty::before { content: "Your outbox is empty."; }
main[aria-busy="false"]:empty::after { content: "When you send asks or answer asks privately, they’ll show up here."; }

main[data-show-limit-warning="true"]::before {
  content: "Your outbox is full.\aOlder items will be deleted automatically as new items are saved.";

  display: block;
  padding: 14px 16px;
  border-radius: 8px;
  margin-top: var(--post-margin);

  background-color: rgb(var(--orange));
  color: white;
  text-align: center;
  white-space: pre-line;
}

@media (max-width: 540px) {
  main[data-show-limit-warning="true"]::before {
    border-radius: 0;
  }
}

/* Single-column layout | 100vw > aside width + main width + (--post-margin * 3) */
@media not (min-width: 888px) {
  #base-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  aside {
    height: 264px;
    width: 540px;
  }

  aside:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 12px;
    overflow-x: auto;
  }

  aside section {
    flex-basis: 264px;
    flex-shrink: 0;
    flex-grow: 0;
  }

  aside div:last-child {
    margin-top: auto;
  }
}

/* Multi-column layout | 100vw ≥ aside width + main width + (--post-margin * 3) */
@media (min-width: 888px) {
  #base-container {
    flex-direction: row;
    align-items: flex-start;
  }

  main {
    margin: 0 var(--post-margin);
  }

  aside {
    position: sticky;
    top: 0;
    width: 300px;
    padding-bottom: var(--post-margin);
  }

  aside:first-child {
    margin-left: var(--post-margin);
  }

  aside:last-child {
    margin-right: var(--post-margin);
  }
}

/* Two-column layout | 100vw < (aside width * 2) + main width + (--post-margin * 4) */
@media not (min-width: 1204px) {
  aside:empty {
    display: none;
  }
}

/* Sidebar */

aside section {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  border: 1px solid rgba(var(--black), 0.05);
  border-radius: 12px;
  margin-top: var(--post-margin);

  background-color: rgb(var(--white));
}

aside h1 {
  padding: var(--post-padding) var(--post-padding) var(--post-vertical-spacing);
  margin: 0;

  font-size: 1rem;
  font-weight: normal;
  line-height: 1rem;
}

aside ul {
  padding: 0 calc(var(--post-padding) / 2) var(--post-vertical-spacing);
  margin: 0;

  list-style-type: none;
}

aside div {
  padding: 0 var(--post-padding) var(--post-vertical-spacing);
  margin: 0;
}

aside li {
  font-weight: bold;
  line-height: 1.5rem;
}

aside button {
  all: unset;
}

aside a,
aside button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  padding: calc(var(--post-padding) / 2);
  border-radius: 8px;

  text-decoration: none;
}

aside a:hover,
aside button:hover {
  background-color: rgba(var(--black), .07);
}

aside a:focus-visible,
aside button:focus-visible {
  outline: 2px solid rgb(var(--blue));
  outline-offset: -2px;
}

aside a[target="_blank"]::after {
  content: "\2192";
  color:rgba(var(--black), .65);
}

aside button {
  cursor: pointer;
}

aside p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: calc(var(--post-padding) / 2) 0 0;
}

aside small {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

#capacity {
  display: block;
  box-sizing: border-box;
  height: 0.75rem;
  width: 100%;
  border: 1px solid rgba(var(--black), 0.05);
  border-radius: 0.75rem;
  overflow: hidden;
}

#capacity > span {
  display: block;
  height: 100%;
  transition: width 1s ease-in-out;
}

/* Main */

main > p {
  margin: var(--post-margin) 0;
}

article {
  border-radius: 8px;
  padding: var(--post-padding);
  margin-top: var(--post-margin);

  background-color: rgb(var(--white));
}

@media (max-width: 540px) {
  article {
    border-radius: 12px;
  }
}

article:focus-visible {
  outline: 2px solid rgb(var(--blue));
}

article header {
  margin-bottom: var(--post-vertical-spacing);

  color: rgba(var(--black), 0.65);
  font-size: .875rem;
  font-weight: normal;
  line-height: 1.25rem;
}

article header::before {
  content: "Sent to ";
}

article header:empty::before {
  content: "Private answer";
}

article header a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

article section.error {
  max-width: none;
  padding: 0.5ch var(--post-padding);
  margin-left: calc(0px - var(--post-padding));
  margin-right: calc(0px - var(--post-padding));

  background-color: rgb(var(--red));
  color: white;
  text-align: center;
}

.ask-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 40px;
  grid-column-gap: var(--post-vertical-spacing);
  margin: var(--post-vertical-spacing) 0;
}

.ask {
  position: relative;

  padding: 0 var(--post-padding);
  border-radius: 3px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  background-color: rgba(var(--black), .07);
}

.ask::before {
  position: absolute;
  right: -16px;
  top: 12px;

  border: 8px solid transparent;
  border-left-color: rgba(var(--black), .07);
  content: "";
}

.ask-avatar {
  border-radius: 3px;
}

.ask [data-attribution="blog"]:first-child {
  display: block;
  margin: var(--post-vertical-spacing) 0;

  color: rgba(var(--black), 0.65);
  font-size: .875rem;
}

.ask [data-attribution="blog"]:first-child a {
  font-weight: 700;
  text-decoration: none;
}

.ask [data-attribution="blog"]:first-child::after {
  content: " asked:";
}

p {
  margin: var(--post-vertical-spacing) 0;
}

article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--post-vertical-spacing);
  margin-top: var(--post-padding);
}

article footer time {
  color: rgba(var(--black), 0.65);
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.25rem;
}

article footer button {
  all: unset;

  display: inline-flex;
  padding: 6px 12px;
  border-radius: 9999px;

  background-color: rgb(var(--red));
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.25rem;
}

article footer button:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

article footer button:active {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
}

article footer button:focus-visible {
  outline: 2px solid rgb(var(--red));
  outline-offset: 2px;
}

/* NPF elements */

[data-row],
[data-block="image"],
[data-block="audio"],
[data-block="video"] {
  max-width: none;
  margin-left: calc(0px - var(--post-padding));
  margin-right: calc(0px - var(--post-padding));
}

[data-row] > [data-block] {
  margin-left: 0;
  margin-right: 0;
}

[data-block="image"] figcaption {
  padding: 0 var(--post-padding);
  margin: calc(var(--post-vertical-spacing) / 2) 0;
}

[data-block="link"] {
  border: 1px solid rgba(var(--black), 0.25);
  border-radius: 7px;
  overflow: hidden;
  margin: var(--post-vertical-spacing) 0;
}

[data-block="link"] figure {
  border-bottom: 1px solid rgba(var(--black), 0.25);
}

[data-block="link"] p {
  max-height: 3rem;
  overflow-y: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  text-overflow: ellipsis;
}

[data-block="link"] small {
  color: rgba(var(--black), .65);
  font-size: 0.78125rem;
  font-weight: 400;
  text-transform: uppercase;
}

[data-block="video"] iframe {
  --post-width: min(540px, 100vw);
  height: calc(var(--post-width) * var(--aspect-ratio, calc(9 / 16)));
}

[data-attribution="post"],
[data-attribution="app"] {
  padding: 0 var(--post-padding);
  margin-top: calc(var(--post-vertical-spacing) / 2);
  margin-bottom: var(--post-vertical-spacing);

  color: rgba(var(--black), 0.65);
  text-align: end;
  text-decoration: none;
}

[data-attribution="link"] {
  display: block;
  overflow: hidden;
  padding: 0 var(--post-padding);

  background-color: rgba(var(--black), 0.07);
  color: rgba(var(--black), 0.4);
  font-size: 0.875rem;
  line-height: 1.875rem;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[data-attribution="link"]:hover {
  background-color: rgba(var(--blue), 0.07);
  color: rgb(var(--blue));
}

[data-attribution="app"][data-has-logo] {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5ch;
}

[data-attribution="app"] img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 3px;
  margin-left: 0.5ch;
}

article details summary {
  display: block;
  padding: 6px 10px;

  color: rgb(var(--blue));
  cursor: pointer;
  font-weight: 700;
  text-align: center;
}

article details[open] summary {
  display: none;
}
